vue/app/node_modules

resources

django/api/migrations
django/media/
django/migrations/
django/db/db.sqlite3
django/dump.rdb

vlbert/model
vlbert/ckpts
vlbert/data
vlbert/cache
vlbert/output
vlbert/common/lib/roi_pooling/build
vlbert/docker_build

__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/__pycache__
