frontend/app/node_modules

resources

backend/api/migrations
backend/media/
backend/db.sqlite3

vlbert/model
vlbert/ckpts
vlbert/data
vlbert/cache
vlbert/output
vlbert/common/lib/roi_pooling/build

__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/__pycache__
