mmdetection
MAttNetDemo

frontend/app/node_modules

backend/api/migrations
backend/media/custom
backend/db.sqlite3

vlbert/model
vlbert/ckpts
vlbert/data
vlbert/common/lib/roi_pooling/build

__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/__pycache__
