easydict
jsonlines
networkx
regex==2019.8.19
requests==2.22.0
protobuf==3.10.0
pyyaml==5.4.1
tqdm
urllib3
boto3

numpy
opencv-python
matplotlib
pandas
Pillow
pycocotools
scikit-image
scipy

tensorflow
tensorboard
tensorboardX